.northAmerica {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

.southAmerica {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

.asia {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid purple;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

.europe {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid orange;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

.africa {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

.australia {
    display: inline-block;
    background-color: lightgrey;
    width: 200px;
    border: 25px solid brown;
    padding: 25px;
    margin: 25px;
    text-align: center;
} 

